In [12]:
# 001
print("Hello World")

Hello World

In [13]:
# 002
print("Mary's cosmetics")

Mary's cosmetics

In [14]:
# 003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [16]:
# 004
print("C:\Windows")

C:\Windows

### 문자열 이스케이프 시퀀스
005
print("안녕하세요. \n만나서\t\t반갑습니다.")

- `\n` 줄바꿈
- `\t` 탭
출력결과는 아래와 같을 것이다.

```
안녕하세요.
만나서        반갑습니다.
```

In [17]:
# 005
print("안녕하세요. \n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [144]:
# 006
# print("오늘은", "일요일") 출력결과 예상
# => 오늘은 일요일

print("오늘은", "일요일")

오늘은 일요일

In [21]:
# 007
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

## print() 함수의 sep 인자
- print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸이 공백대신 세미 콜론이 출력된다.
- print 함수의 sep 기본인자는 " "(공백_스페이스)로 생략되어 있다.

In [22]:
# 007-1
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [23]:
# 007-2
print("naver", "kakao", "sk", "samsung", sep=" ")

naver kakao sk samsung

In [24]:
# 007-3
print("naver", "kakao", "sk", "samsung", sep=":")

naver:kakao:sk:samsung

In [25]:
# 007-4
print("naver", "kakao", "sk", "samsung", sep="")

naverkakaosksamsung

In [26]:
# 008
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [27]:
# 009
print("first", end="")
print("second")

firstsecond

In [28]:
# 010
print(5 / 3)

1.6666666666666667

In [31]:
# 011
samsung_elec = 50000
total_eval_amount = samsung_elec * 10
print(total_eval_amount)

500000

In [35]:
# 012
market_cap = 298000000000000
current_stock_price = 50000
PER = 15.79

# PER은 Price-to-Earnings Ratio의 약자로 주식의 현재가격을 주당 순이익으로 나눈 비율.
# 주가 대비 기업의 수익성을 측정하는 지표로 사용, 투자자들이 주식의 상대적인 가치를 평가할 때 도움을 준다.

In [34]:
print(market_cap, type(market_cap))
print(current_stock_price, type(current_stock_price))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [41]:
# 013
s = "hello"
t = "python"

print(s + "! " + t)
print(s+"!", t)

hello! python
hello! python

In [42]:
# 014
2 + 2 * 3
# return value 8로 예상

8

In [43]:
# 015
a = "132"
# type(a) => str
type(a)

str

In [44]:
# 016
num_str = "720"
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [45]:
# 017
num = 100
print(str(num), type(str(num)))

100 <class 'str'>

In [46]:
# 018
print(float("15.79"), type(float("15.79")))

15.79 <class 'float'>

In [48]:
# 019
year = "2020"
int(year)
print(int(year) - 1, int(year) - 2, int(year) -3)

2019 2018 2017

In [49]:
# 020
aircon_month_price = 48584
month = 36
total_price = aircon_month_price * month
print(total_price)

1749024

In [50]:
# 021
letters = 'python'
print(letters[0], letters[2])

p t

In [53]:
# 022
license_plate = "24가 2210"
license_plate[4:]

'2210'

In [76]:
license_plate[-4:]

'2210'

## 문자열 슬라이싱
문자열에서 여러 글자를 가져오는 것을 슬라이싱이라고 한다.

`String[start:stop:step]`
- `start` : 슬라이싱을 시작할 인덱스로 생략하면 0으로 간주한다. 해당 인덱스의 문자가 결과에 포함된다.
- `stop` : 슬라이싱을 끝낼 인덱스로 생략하면 문자열의 끝을 의미한다. 해당 인덱스 전(stop -1)까지의 문자가 결과에 포함된다.
- `step` : 간격을 타나낸다. step에 들어가는 정수만큼 건너뛰면서 슬라이싱하는 것을 의미한다. 선택사항이기 때문에 생략해도 괜찮다.
- 슬라이싱 할 범위에 문자열이 없으면 '' 빈 문자열을 반환한다.
- 인덱스에 **음수**를 넣으면 **문자열의 끝에서부터 역으로 인덱싱 혹은 슬라이싱**함을 의미한다.
    - `start` 0은 따로 의미가 있기 때문에 음수로 할 경우 -1부터 카운팅되는 점을 유의

||H|e|l|l|o|,||W|o|r|l|d|
|---|---|---|---|---|---|---|---|---|---|---|---|---|
|start +|0|1|2|3|4|5|6|7|8|9|10|11|
|start -|-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|
|stop +|1|2|3|4|5|6|7|8|9|10|11|12|
|stop -|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|12|

In [109]:
# 022-13
text = "Hello, World"

text[-10:11]

'llo, Worl'

In [110]:
text[0:-1]

'Hello, Worl'

In [97]:
text[-2:]

'ld'

In [104]:
text[:-2]

'Hello, Wor'

In [99]:
text[::-1]

'dlroW ,olleH'

In [102]:
text[-2:-9:-1]

'lroW ,o'

In [111]:
# 023
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [112]:
# 024
string = "PYTHON"
string[::-1]

'NOHTYP'

## 문자열 메서드 - `replace`
문자열을 치환할 때 `original_string.replace('old_substring', 'new_substring')` 을 이용해 기존의 문자열을 그대로 두고, 새로운 문자열에 할당해준다.

In [115]:
# 025
phone_number = "010-1111-2222"
# str는 immutable 

new_number = phone_number.replace("-", " ")

print(new_number)

010 1111 2222

In [126]:
# 026
new_number = phone_number.replace("-", "")

print(new_number)

01011112222

In [127]:
phone_number = "010-1111-2222"
new_number = phone_number.split("-")
join_number = ''.join(new_number)
print(join_number)

01011112222

In [129]:
# 027
url = "http://sharebook.kr"
print(url[-2:])

kr

In [132]:
new_url = url.split(".")
print(new_url[-1])

kr

## 문자열은 immutabl
문자열은 변경 불가능한 특성을 가진다. 한번 할당된 문자열은 수정할 수 없다.

아래처럼 문자열 재할당시 오류가 발생한다.
```python
string = "PYTHON"
string[0] = 'P'
```

대신 `replace` 메서드를 이용해 수정된 문자열을 새로운 변수에 할당할 수 있다.

In [134]:
# 028
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [140]:
# 029
string = 'abcdfe2a354a32a'
new_string = string.replace("a", "A")
print(new_string)

Abcdfe2A354A32A

In [143]:
# 030
string = 'abcd'
string.replace('b', 'B')
print(string)
# => 'abcd'

abcd